---
Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
ColumnLimit: 100
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
DerivePointerAlignment: false
PointerAlignment: Right
ReflowComments: true
IncludeBlocks: Preserve
...
